body {
    background-color: #ffe6f0;
    text-align: center;
    font-family: Arial;
}

h1, h2 {
    color: #ff4d6d;
}

a {
    text-decoration: none;
    color: white;
    background: #ff4d6d;
    padding: 10px 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.left-img {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 120px;
    border-radius: 10px;
}

.right-img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 120px;
    border-radius: 10px;

    /* mirror effect */
    transform: scaleX(-1);
}
.left-img, .right-img {
    background: transparent;
    filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.3));
}

.center-img {
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 15px;
}
