body {
    background-color: #ffe6f0;
    text-align: center;
    font-family: Arial;
}

h1, h2 {
    color: #ff4d6d;
}

a {
    text-decoration: none;
    color: white;
    background: #ff4d6d;
    padding: 10px 20px;
    border-radius: 10px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff4d6d;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
